@font-face {
    font-family: 'IRON MAN OF WAR 002 NCV Regular';
    font-style: normal;
    font-weight: normal;
    src: local('IRON MAN OF WAR 002 NCV Regular'), url('16957.otf') format('opentype');
}
